
:root {
    --color-main: #000;
    --color-light-100: #fff;
    --color-hover: rgba(128, 128, 128, 0.3);
    --color-hover-2: rgba(128, 128, 128, 0.1);
}

input,
button,
select,
textarea,
optgroup,
option {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
li {
    list-style: none;
}

html {
    box-sizing: border-box;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

input,
button,
select,
textarea,
optgroup,
option {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;
    color: inherit;
}

a:visited {
    color: inherit;
}

body {
    margin: 0;
    padding: 0;

    font-family: UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;

    font-weight: 600;
    font-style: normal;

    transition-property: background;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0, 0, 1, 1);
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

.logo {
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 400;
    line-height: 112px;
    -webkit-transition-property: backgroundSize;
    -moz-transition-property: backgroundSize;
    transition-property: backgroundSize;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
    position: relative;
    text-decoration: none;
    text-underline-position: under;
    will-change: background-size;
    background-size: 0 100%, 100% 100%;
    background-repeat: no-repeat;
    background-image: none;
    -webkit-box-align: center;
    align-items: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    height: 100%;
    text-align: left;
    top: 0;
    white-space: nowrap;
}
