
:root {
    --color-main: #000;
    --color-light-100: #fff;
    --color-light-200: #F3F3F3;
    --color-hover: rgba(128, 128, 128, 0.3);
    --color-hover-2: rgba(128, 128, 128, 0.1);
    --color-hover-3: rgba(128, 128, 128, 0.9);

    --color-light-blue: rgb(157, 205, 214);
}


input,
button,
select,
textarea,
optgroup,
option {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;
}



a {
    text-decoration: none;
    color: inherit;
}

ul,
li {
    list-style: none;
}

html {
    box-sizing: border-box;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

input,
button,
select,
textarea,
optgroup,
option {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;
    color: inherit;
}

a:visited {
    color: inherit;
}

body {
    margin: 0;
    padding: 0;

    font-family: UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;

    font-weight: 600;
    font-style: normal;

    transition-property: background;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0, 0, 1, 1);
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

