.header {
    border-bottom-width: 0;
    border-bottom-style: solid;
    border-bottom-color: #F3F3F3;
    background-color: var(--color-main);
    height: 64px;
    position: relative;
    transition-duration: 300ms;
    transition-property: top;
    z-index: 2002;
}

.header__inner {
    max-width: calc(1280px + 64px* 2);
    height: 100%;
    margin: 0 auto;
    color: white;
    padding-left: 64px;
    padding-right: 64px;
}



.header__nav {
    width: 100%;
    height: 100%;
    padding: 12px 0;
}

.header__nav-wrapper {
    display: flex;
    justify-content: normal;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

.header__nav-wrapper--mobile {
    justify-content: space-between;
}

.header__nav-list {
    display: flex;
    -webkit-box-flex: 1;
    -webkit-box-pack: start;
    justify-content: flex-start;
    list-style: none;
    margin: 0 24px;
    overflow: hidden;
    visibility: visible;
    padding: 0 !important;
}

.nav-left {
    flex: 1 1 auto;
    justify-self: flex-start;
}

.nav-right {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    padding-left: 24px;
    padding-right: 24px;
    justify-self: flex-end;
    -webkit-box-pack: end;
    justify-content: flex-end;
}

.header__nav-list-item {
    align-self: center;
    padding-left: 0;
    margin-bottom: 0;
    padding-right: 4px;
}

.header__nav-list-link {
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
    padding: 10px 12px;
    cursor: pointer;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    background-color: #000000;
    white-space: nowrap;
    transition: background 0.2s ease-in-out;

}

.header__nav-list-link:hover {
    background-color: var(--color-hover);
}


@media screen and (max-width: 1136px) {
    .header__nav--desktop {
        display: none;
    }
    .header__inner {
        padding: 0 24px;
    }
    .header__nav-list {
        margin: 0;
    }
}

@media screen and (min-width: 1136px) {
    .header__nav--mobile {
        display: none;
    }
}