
.section__inner {
    padding: 64px;
}

.section__title {
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    margin-bottom: 36px;
}

@media screen and (max-width: 1136px) {
    .section__inner {
        padding: 54px 32px;
    }
}

@media screen and (max-width: 600px) {
    .section__title {
        font-size: 26px;
        font-weight: 700;
        line-height: 24px;
        margin-bottom: 26px;
    }
}

@media screen and (max-width: 320px) {
    .section__inner {
        padding: 40px 24px;
    }
}